.Header{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    width: auto;
    background-color: var(--main-color);
}

.Header-Button {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--text-color);
    min-width:20vh; 

}

.Header-Button:hover {
    background-color: var(--focused-color);
    border-color: var(--focused-color);
}

.Header-Button:disabled {
    background-color: var(--focused-color);
    border-color: var(--focused-color);
    color: var(--text-color);
    /* width: 30vh; */
}

